<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>History Visit</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">

<link rel="stylesheet" href="style/custom.css">
</head>
<body>


	<!-- Navbar -->
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#mainNavigation"
			aria-controls="mainNavigation" aria-expanded="false"
			aria-label="Pokaż lub ukryj nawigację">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" onclick="openLeftMenu()"> <img
			src="images/hamburger.png" width="52" height="52"
			class="d-inline-block align-top rounded" alt="idź na start">
		</a>



		<div class="collapse navbar-collapse" id="mainNavigation">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/showPatients">Patients</a>
				</li>
				<li class="nav-item"><a class="nav-link"href="/showVisits">Visits </a></li>
				<li class="nav-item"><a class="nav-link" href="#">History</a></li>
				<li class="nav-item"><a class="nav-link" href="/registerForReception">Register</a>
			</ul>


			<ul class="navbar-nav ml-sm-5 mt-2 mt-md-0">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="userMenu"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="rounded-circle" width="20" height="20"
						src="images/avatar.png" alt="Imię i nazwisko"> 
							 <text th:text="${reception.rec_FName} + ' '+${reception.rec_LName}">
				</a>
					<div class="dropdown-menu dropdown-menu-right"
						aria-labelledby="userMenu">

						<a class="dropdown-item" href="/logout">Logout</a>
					</div></li>
			</ul>
		</div>
	</nav>
        <br />
        <center>
     <h2 style="color:white;">History Visits</h2>   
     </center>
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 border-dark">
					<table class="table table-striped" style="background-color: white">
						<thead>
							<tr>
								<th>Prescription</th>
								<th>Date of Registration</th>
								<th>Date of Dis</th>
								<th>Room</th>
								<th>Confirmation</th>
								<th>Visit date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="visit : ${findAllPerformedVisitsForAllPatients}">
								<td th:text="${visit.vis_Presc}"></td>
								<td th:text="${visit.vis_Reg_Date}"></td>
								<td th:text="${visit.vis_Dis_Date}"></td>
								<td th:text="${visit.vis_Room}"></td>
								<td th:text="${visit.vis_Confirmation}"></td>
								<td
									th:text="${visit.patientId.pat_Fname+' '+visit.patientId.pat_Lname}"></td>
								<td th:text="${visit.scheduleId.sch_Starthour}"></td>
							</tr>
						</tbody>
						

					</table>

			</div>
		</div>
	</div>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>