<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinic Project</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/font-awesome.min.css">
    <link rel="stylesheet" href="style/custom.css">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


</head>
<body>


<!-- Top -->
<div class="container-fluid text-white text-center top" >
    <br /><br />
    <div th:each="i : ${infos}">
        <h3 th:text="${i}"></h3>
    </div>
    <div class="text-danger" role="alert" th:if="${#fields.hasErrors('${model}')}">
        <h4><strong>Login failed!</strong><br/></h4>
        <h5 th:each="e : ${#fields.errors('${model}')}" th:text="${e}"></h5>
    </div>

    <div class="row" >
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div id="form-olvidado">

                <form action="#" th:action="@{/login}" th:object="${model}" class="form-conatiner" method="post" role="form">
                    <h3><span class="text-warning">LOG IN</span></h3>
                    <div class="form-group">
                        <h5><label for="exampleInputEmail1">Login</label></h5>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="E-mail" th:field="*{pat_Email}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('pat_Email')}" th:errors="*{pat_Email}"></span>
                    </div>
                    <div class="form-group">
                        <h5><label for="exampleInputPassword1">Password</label></h5>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"th:field="*{pat_Passhash}">
                        <span class="text-danger" th:if="${#fields.hasErrors('pat_Passhash')}" th:errors="*{pat_Passhash}"></span>
                    </div>
                    <div class="container">
                        <a href="/reset"><b><span class="text-danger">I forgot my password</span></b></a>
                    </div>
                    <button class="btn btn-warning text-white top-button">LOGI IN</button>
                </form>
            </div>
            <form action="#" th:action="@{/register}">
            <button class="btn btn-danger text-white top-button">REGISTER</button>
            </form>

        </div>
    </div>

</div>



<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>